@model KodinimoUzduotis.Models.Player
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form asp-controller="Home" asp-action="SolveCode" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" />
        </div>
        <div class="form-group">
            <label for="task">Task</label>
            @Html.DropDownListFor(model => model.Id, new SelectList(Model.CodeSolutions, "Id", "Name"))
        </div>
        <div class="form-group">
            <p>There are 3 tasks:</p>
            <br />
            <p>Found Fibonacchi sequence 10th member</p>
            <br />
            <p>Found digit sum of 14597</p>
            <br />
            <p>Found reverse value of 23456</p>
            <br />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description"><?php ?></textarea>
        </div>
        <button type="submit" class="btn btn-secondary" value="">Submit</button>
    </form>
</div>
