@model IEnumerable<KodinimoUzduotis.Models.Player>
@{
    ViewData["Title"] = "Top Score";

}
<h1>Top score</h1>
<table class="table table-bordered table-hover">
    <thead class="table-header">
        <tr>        
           <th>
              @Html.DisplayNameFor(model => model.Name)      
           </th>
            <th>
              @Html.DisplayNameFor(model => model.Success) Solutions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Success)
                    </td>
                </tr>
            }
    </tbody>
</table>

